@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;400&display=swap");
/*Fuentes importadas*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Resetea valores por defecto*/
html,
body {
  /* background-image: url(../imagenes/Fondos/fondoNegro.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
  background-color: #d1d1d1;
  font-family: 'Urbanist', sans-serif;
  font-size: 62.5%;
}

/* para cambiar el valor por defecto de la funete de 16px a 10px*/
/*Estilos header/navegacion---------------------------------------------------------------------header-- */
header {
  font-size: 2.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header__nav {
  background-image: url(../imagenes/Fondos/fondoBlanco.jpg);
  border-bottom: solid black 0.02em;
}

.header__logo {
  height: 11vh;
}

.header__logo img {
  height: 100%;
  border-radius: 1rem;
}

.nav-item a {
  background-color: rgba(0, 0, 0, 0.1);
  width: 17rem;
  margin: 0.5rem;
  text-align: center;
  font-weight: 600;
}

.nav-item a:hover {
  background-color: rgba(255, 0, 0, 0.507);
}

/*-------------------------------------- Estilos para titulos*/
h1 {
  text-align: right;
  font-style: normal;
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  color: white;
  padding: 0 5rem 0 0;
  background-color: black;
  display: none;
}

h2 {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  color: red;
}

.accesorios__titulo,
.modelos__titulo,
.contacto__titulo,
.envios__titulo {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  text-align: right;
  font-size: 3rem;
  font-style: normal;
  padding: 0 5rem;
  background-color: black;
  margin: 0;
}

h3 {
  color: white;
  font-size: 2rem;
  text-align: right;
  font-style: italic;
  padding: 0 5rem;
  background-color: #c793ac;
}

h4 {
  color: white;
  font-size: 1.5rem;
  text-align: left;
  margin: 0%;
}

.envios__titulo-retiro {
  font-size: 2.5rem;
  text-align: center;
  background-color: black;
  font-style: normal;
  padding: 0.3rem;
}

h5 {
  color: white;
  font-size: 1.1rem;
  text-align: left;
}

h6 {
  color: white;
  font-size: 2rem;
  margin: 0;
}

/*-----------------------------------------------------------Estilos para footer*/
footer {
  /* background-image: url(../imagenes/Fondos/fondoBlanco.jpg);*/
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  width: 100%;
  margin: 0;
  border-top: solid black 0.1rem;
}

footer h5 {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.footer__logo {
  height: 20vh;
}

.footer__logo img {
  height: 100%;
  border-radius: 1.2rem;
}

.footer__secciones {
  color: white;
}

.footer__secciones li {
  margin: 3rem 0;
}

.footer__secciones li a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
}

.footer__pagos {
  margin: 3rem 2rem 0 0;
}

.footer__pagos li {
  margin: 2rem 0;
}

.footer__pagos a {
  width: 7rem;
}

.footer__pagos img {
  width: 7rem;
  height: 4rem;
  border: solid 0.2rem black;
  background-color: white;
  padding: 0.5rem;
}

.footer__redes {
  margin: 4rem 0 0 1rem;
}

.footer__redes li {
  background-color: black;
  border: solid 0.1rem white;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__encontranos li iframe {
  width: 20rem;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
}

.footer__encontranos li p {
  color: white;
  font-size: 1.5rem;
}

.footer__pie {
  width: 100%;
  height: 2rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  margin: 0;
  text-align: end;
  background-color: black;
  color: white;
}

/*----------animacion-------*/
.header__logo:hover {
  display: inline-block;
  margin: 0 0.5rem;
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.footer__logo:hover {
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.fotoAccesorios li:hover {
  -webkit-animation: headShake;
          animation: headShake;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.footer__redes li:hover {
  border: solid 0.2rem #fc6666;
}

.footer__secciones li a:hover {
  background-color: #fc6666;
}

.footer__encontranos li iframe:hover {
  background-color: #fc6666;
}

.index__carrusel {
  height: 800px;
  width: 1200px;
  margin: 0 auto;
}

.carrusel__imagenes img {
  height: 100%;
  width: 100%;
}

.carrusel__texto {
  background-color: yellow;
  color: violet;
}

.carrusel__texto h5 {
  font-size: 3rem;
  padding: 0.5rem;
}

.carrusel__texto p {
  font-size: 2rem;
}

/* ----------------------------------------------------Estilos para seccion primaria*/
.seccionMarcas {
  margin: 1rem;
}

.seccionMarcas h2 {
  padding: 0 2rem;
}

.seccionMarcas ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0 2rem 0;
}

.seccionMarcas ul li {
  display: inline-block;
}

/*-------------------------------------------------- Estilos para imagenes index */
.imagenesSeccion li img {
  width: 10rem;
  height: 10rem;
  margin: 0rem 1rem;
  border: 0.2rem solid white;
  border-radius: 1rem;
}

/* -----------------------Estilos para Modelos */
.solapas__modelos {
  padding: 0.5rem 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 8rem;
  z-index: 1;
  background-color: #c793ac;
  border: none;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  height: 6rem;
  width: 63rem;
}

.solapas__modelos li a {
  font-size: 2rem;
  color: white;
}

.solapas__modelos .nav-link {
  background-color: #e6e6e6;
  color: black;
  border-radius: 0.5rem;
  width: 11rem;
}

.solapas__modelos .nav-link:hover {
  background-color: #fc6666;
  border: none;
}

.galeria__modelos {
  width: 90%;
  margin: 2rem auto 2rem auto;
  padding: 0 0 1rem 0;
  background-color: #c793ac;
}

.galeria__modelos H4 {
  font-size: 2.5rem;
  margin: 0 0 2rem 0;
  padding: 0.5rem 1.5rem;
  width: 100%;
  background-color: black;
}

.cards__modelos {
  width: 22rem;
  margin: 1rem auto;
}

.cards__modelos div div h5 {
  font-size: 2rem;
  padding: 0.3rem;
  text-align: right;
}

.cards__modelos div div p {
  font-size: 1.5rem;
  color: white;
}

.cards__modelos div .card-body {
  background-color: black;
}

.solapas__accesorios {
  padding: 0.5rem 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 8rem;
  z-index: 1;
  background-color: #c793ac;
  border: none;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  height: 6rem;
  width: 48rem;
}

.solapas__accesorios li a {
  font-size: 2rem;
  color: white;
}

.solapas__accesorios .nav-link {
  background-color: #e6e6e6;
  color: black;
  border-radius: 0.5rem;
  width: 14rem;
}

.solapas__accesorios .nav-link:hover {
  background-color: #fc6666;
  border: none;
}

.galeria__accesorios {
  width: 90%;
  margin: 2rem auto 2rem auto;
  padding: 0 0 1rem 0;
  background-color: #c793ac;
}

.galeria__accesorios H4 {
  font-size: 2.5rem;
  margin: 0 0 2rem 0;
  padding: 0.5rem 1.5rem;
  width: 100%;
  background-color: black;
}

.cards__accesorios {
  width: 22rem;
  margin: 1rem auto;
}

.cards__accesorios div div h5 {
  font-size: 2rem;
  padding: 0.3rem;
  text-align: right;
}

.cards__accesorios div div p {
  font-size: 1.5rem;
  color: white;
}

.cards__accesorios div .card-body {
  background-color: black;
}

/*-------------------------------------------------Estilos seccion envios*/
.envios__seccion {
  color: white;
  font-size: 2rem;
  font-style: italic;
  padding: 0rem 1rem;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 2rem 0;
}

.envios__seccion div {
  width: 68%;
  background-color: #c793ac;
}

.envios__seccion div h5 {
  font-size: 2.5rem;
  font-style: normal;
  background-color: black;
  text-align: center;
  margin: 0;
}

.envios__seccion ul li {
  list-style-type: none;
  margin: 0 2rem;
}

.envios__zona {
  height: 35vh;
  width: 100%;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.envios__zona li {
  width: 45%;
  height: 90%;
  margin: 0 6%;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1rem solid white;
  background-color: rgba(0, 0, 0, 0.733);
}

.envios__zona li img {
  height: 80%;
  width: 95%;
  margin: 1rem 0rem 0rem 0rem;
  border-radius: 1rem;
}

.parrafoPie p {
  text-align: right;
  margin: 0rem 2rem;
}

.parrafoPie p a {
  text-decoration: none;
  color: white;
  padding: 0.2rem 0.4rem;
}

.parrafoPie p a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* ------------------------------------------Estilos para formulario*/
.contacto__formulario {
  color: white;
  font-size: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: 1%;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto__formulario div {
  margin: 0  0 2% 0;
}

.contacto__formulario h4 {
  font-size: 2.5rem;
  background-color: #000005;
  padding: 0.3rem;
  width: 50%;
  text-align: center;
}

.contacto__formulario fieldset {
  width: 100%;
}

.contacto__edad input {
  width: 6rem;
}

.contacto__email input {
  width: 35rem;
}

fieldset textarea {
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  width: 95%;
}

fieldset legend {
  font-size: 2rem;
}

form {
  background-color: #c793ac;
  width: 50%;
  padding: 1% 2.5% 1% 2.5%;
}

form .contacto__botones {
  text-align: right;
}

form .contacto__botones input {
  width: 7rem;
  background-color: #d8d8d8;
  margin: 0 1rem;
}

form .contacto__botones input:hover {
  background-color: #fc6666;
}

.boton__enviar {
  font-weight: 600;
}

/* ------------------------------------------- MEDIA QUARIE------*/
@media (max-width: 768px) {
  /*---------ipad------------*/
  .seccionPrimaria ul li {
    display: inline-block;
    margin: 2%;
  }
  .seccionPrimaria ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/*------------moto g4-------*/
@media (max-width: 360px) {
  .seccionPrimaria ul li {
    display: inline-block;
    margin: 2%;
  }
  .seccionPrimaria ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__logo {
    width: 55%;
  }
  .footer__secciones-caja {
    display: inline-block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */