
/*-------------------------------------------------Estilos seccion envios*/

.envios__seccion {
    color: white;
    font-size: 2rem;
    font-style: italic;
    padding: 0rem 1rem;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 2rem 0;
    div {
    width: 68%;    
    background-color:#c793ac;

    }
    div h5 {
        font-size: 2.5rem;
        font-style: normal;
        background-color: rgb(0, 0, 0);
        text-align: center;
        margin: 0;
    }
    ul li {
        list-style-type: none;
        margin: 0 2rem;
    }
    
}

.envios__zona {
    height: 35vh;
    width: 100%;
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    li {
        width: 45%;
        height: 90%;
        margin: 0 6%;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0.1rem solid white;
        background-color: rgba(0, 0, 0, 0.733);
    }
    li img {
        height: 80%;
        width: 95%;
        margin: 1rem 0rem 0rem 0rem;
        border-radius: 1rem;
    }
}

.parrafoPie p {
    text-align: right;
    margin: 0rem 2rem;
    a {
        text-decoration: none;
        color: white;
        padding: 0.2rem 0.4rem;
    }
    a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}